<h1>Profile</h1>

<div class="row">
  <div class="col s6">
    {{#if user.avatarUrl}}
      <img
        class="avatar"
        src="{{user.avatarUrl}}"
        alt="avatar-{{user.name}}">
    {{else}}
      <p>No avatar</p>
    {{/if}}
  </div>
  <div class="col s6">
    <form action="/profile" method="POST" enctype="multipart/form-data">
      <label>Your email</label>
      <br>
      <strong>{{user.email}}</strong>


      <div class="input-field">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" class="validate" required value="{{user.name}}">
        <span class="helper-text" data-error="Enter name" ></span>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>Avatar</span>
          <input type="file" name="avatar">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
        {{!-- Middleware will look at _csrf name and throw csrf value from middleware/variables => req.locals --}}
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type="submit" class="btn">Save</button>
      </div>
    </form>
  </div>
</div>
